@use '../../styles/app-toolbar'

.content-right
  text-align: right
  justify-content: flex-end

.content-center
  text-align: center
  justify-content: center

.cdk-column-image
  flex: 0 1 70px

.cdk-column-image img
  border-radius: 25%
  object-fit: cover
  height: 60px
  width: 60px
  margin-top: 4px
  margin-bottom: 4px

.cdk-column-name
  flex: 1 0 10%

.cdk-column-category
  flex: 0 1 10%

.cdk-column-price
  flex: 1 1 50px

.cdk-column-count
  flex: 0 1 200px

.cdk-column-total
  flex: 0 1 60px

.cdk-footer-cell
  border-top: 1px solid
  font-weight: 500
