<div
  *ngIf="productCount !== null && productCount > 0; else initialButton"
  class="button-block"
>
  <button mat-flat-button color="accent" (click)="dec()" class="dec-button">
    -
  </button>
  <div class="amount">
    <span> {{ productCount }} in cart </span>
  </div>
  <button mat-flat-button color="accent" (click)="inc()" class="inc-button">
    +
  </button>
</div>
<ng-template #initialButton>
  <button mat-flat-button color="accent" type="button" (click)="inc()">
    Add to Cart
  </button>
</ng-template>
