<mat-toolbar class="top-toolbar" color="primary">
  <a
    mat-button
    disableRipple="true"
    class="top-toolbar-brand"
    routerLink="/"
    ariaCurrentWhenActive="page"
    >Organic Shop</a
  >
  <button
    mat-button
    type="button"
    [routerLink]="['/products']"
    ariaCurrentWhenActive="page"
    matTooltip="Products"
    matTooltipShowDelay="1000"
  >
    <mat-icon aria-hidden="false">input</mat-icon>
  </button>
  <span class="filling-spacer"></span>
  <button
    mat-button
    type="button"
    routerLink="/shopping-cart"
    ariaCurrentWhenActive="page"
    matTooltip="Your Shopping Cart"
    matTooltipShowDelay="1000"
  >
    <mat-icon
      [matBadge]="shoppingCartCount$ | async"
      matBadgeColor="accent"
      matBadgeOverlap="true"
      aria-hidden="false"
      >shopping_cart</mat-icon
    >
  </button>
  <button
    *ngIf="name; else anonymousUser"
    mat-button
    type="button"
    [matMenuTriggerFor]="menu"
  >
    {{ name }}
    <mat-icon aria-hidden="false">arrow_drop_down</mat-icon>
  </button>
  <ng-template #anonymousUser>
    <button type="button" mat-stroked-button routerLink="/login">Login</button>
  </ng-template>
  <mat-menu #menu>
    <button
      mat-menu-item
      type="button"
      routerLink="/my/orders"
      ariaCurrentWhenActive="page"
    >
      My Orders
    </button>
    <button
      *ngIf="isAdmin"
      mat-menu-item
      routerLink="/admin/orders"
      ariaCurrentWhenActive="page"
      type="button"
    >
      Manage Orders
    </button>
    <button
      *ngIf="isAdmin"
      mat-menu-item
      routerLink="/admin/products"
      ariaCurrentWhenActive="page"
      type="button"
    >
      Manage Products
    </button>
    <button mat-menu-item type="button" (click)="logout()">Log Out</button>
  </mat-menu>
</mat-toolbar>
