.app-product-card
  width: 320px
  height: 320px
  overflow: hidden

.product-image
  height: 210px
  object-fit: cover

.product-price
  justify-content: left
  align-self: center

.product-button
  justify-content: right

.button-bar
  display: flex
