<mat-card class="app-product-card">
  <mat-card-header>
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>{{ getCategoryName() }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="product-image" *ngIf="imageUrl" [src]="imageUrl" />
  <mat-card-content>
    <div class="button-bar">
      <div *ngIf="price" class="product-price">
        <span>Price: {{ price | currency }}</span>
      </div>
      <span class="filling-spacer"></span>
      <div class="product-button" *ngIf="!!productId">
        <app-product-cart-button
          [productId]="productId"
        ></app-product-cart-button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
