<mat-card class="app-product-card">
  <mat-card-header>
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>{{ getCategoryName() }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="product-image" *ngIf="imageUrl" [src]="imageUrl" />
  <mat-card-content>
    <div class="button-bar">
      <div *ngIf="price" class="product-price">
        <span>Price: {{ price | currency }}</span>
      </div>
      <span class="filling-spacer"></span>
      <button
        *ngIf="!!id"
        mat-flat-button
        color="accent"
        type="button"
        class="product-button"
        (click)="onButtonClick()"
      >
        {{ idButtonLabel }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
