html,
body
  height: 100%

body
  margin: 0
  // font-family: Roboto, "Helvetica Neue", sans-serif

.app-link
  padding: 0 !important
  line-height: inherit !important

.app-link:hover
  text-decoration: underline
