@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$green-palette, 700);
$my-accent: mat.define-palette(mat.$light-blue-palette, 700);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.all-component-themes($my-theme);
